# Import Libraries

In [ ]:
import pandas as pd

#STEP 1 -> Data Exploration and Loading

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Walmart.csv') #loading the dataset

In [ ]:
raw_df = df.copy() #keeping a copy of raw dataset

In [ ]:
df.shape

In [51]:
df.head()

,invoice_id,branch,city,category,unit_price,quantity,payment_date,payment_time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [ ]:
df.describe()

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   branch          9969 non-null   object
 2   city            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   payment_date    9969 non-null   datetime64[ns]
 7   payment_time    9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  total_price     9969 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 1.2+ MB

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.duplicated().sum() #checking for duplicates

In [ ]:
df.drop_duplicates(inplace=True) #dropping duplicate values

In [ ]:
df['unit_price'] = df['unit_price'].str.replace('$' , '') #dealing with data incosistency

df['unit_price'] = df['unit_price'].astype(float)

In [ ]:
df['total_price'] = df['unit_price']*df['quantity']

In [ ]:
df['date'] = pd.to_datetime(df['date'], format="%d/%m/%y")

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.rename(columns={'date':'payment_date' , 'time':'payment_time'},inplace=True)

In [50]:
df['total_price'] = df['total_price'].round(2)

In [52]:
df.to_csv('walmart_clean_data.csv' ,index=False)